<div class="side-bar">
  <div class="title">
    <svg><use xlink:href="assets/icons/icons.svg#pug"></use></svg>
    <span>PUG ADMIN</span>
  </div>
  <div class="options">
    <div
      *ngFor="let menu of listMenu; let i = index"
      class="menu"
      [ngClass]="{ selected: _router.url === menu.route }"
      (click)="navigateTo(menu.route, menu.title)"
    >
      <svg>
        <use [attr.xlink:href]="'assets/icons/icons.svg#' + menu.icon"></use>
      </svg>
      <span>{{ menu.title }}</span>
    </div>
  </div>
</div>
