<div class="side-bar">
  <div class="title">
    <svg><use xlink:href="assets/icons/icons.svg#pug"></use></svg>
    <span>MANAGER</span>
  </div>
  <div class="options">
    <div class="menu selected">
      <svg><use xlink:href="assets/icons/icons.svg#users"></use></svg>
      <span>Gestión de Usuarios</span>
    </div>
    <div class="menu">
      <svg><use xlink:href="assets/icons/icons.svg#groups"></use></svg>
      <span>Grupos</span>
    </div>
    <div class="menu">
      <svg><use xlink:href="assets/icons/icons.svg#users"></use></svg>
      <span>Actividades</span>
    </div>
  </div>
</div>
